body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background: linear-gradient(to right, #ff0040, #ff0000);
    color: #ddff00;
}


header {
    background: linear-gradient(to right, #ff0040, #ff0000);
    padding: 10px;
    text-align: center;
    color: #fff065;
    font-family: 'Monoton', sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}
header h1 {
    font-size: 36px;
    margin: 0;
}

.logo img {
    height: 60px;
    width: auto;
    border-radius: 100px;
}


.container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff065;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #fff;
    font-size: 18px;
    color: #b30000;
}

table th {
    background-color: #ff0040;
    color: #fff;
}

table td {
    background-color: #fff;
}

table tr:hover {
    background-color: #ff0040;
}

.btn-action {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
}

.btn-action:hover {
    background-color: #b30000;
}

@media screen and (max-width: 768px) {
    table th, table td {
        padding: 10px;
        font-size: 14px;
    }

    header h1 {
        font-size: 28px;
    }

    .container {
        width: 95%;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    table th, table td {
        padding: 8px;
        font-size: 12px;
    }

    header h1 {
        font-size: 24px;
    }
}
