body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #FF5733;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    font-family: 'Bungee', cursive;
    margin: 0;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.back-btn i {
    margin-right: 8px;
}


.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item-details {
    padding: 15px;
}

.item-details h2 {
    font-size: 20px;
    margin: 10px 0;
    font-family: 'Bungee', cursive;
}

.price {
    font-size: 18px;
    color: #FF5733;
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #FF5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.add-to-cart-btn i {
    margin-right: 5px;
}

.add-to-cart-btn:hover {
    background-color: #c13e21;
}

/* Footer */
footer {
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.message {
    background-color: #28a745; /* Color verde */
    color: white;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
    display: none; /* Inicialmente oculto */
    position: relative;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

